<div class="section-strip">
    <div class="row">
        {% for event in site.collection_recurrents %}
        <article class="col-md-4 col-sm-4 col-xs-4 text-center event-strip">
            <a {% if event.active %}href="{{ event.url }}"{% else %}{% endif %}>
            <div class="content" style="background-image: url({% asset_path 'recurrents/{{ event.path | remove: "_collection_recurrents/" | remove: ".md" | append: ".jpg" }}' %})">
                <div class="title">
                    <hgroup>
                        <h4>{{ event.description-formatted }}</h4>
                        <h3>{{ event.title-formatted }}</h3>
                    </hgroup>
                </div>
            </div>
            </a>
        </article>
        {% endfor %}
    </div>
</div>
