<div id="myslideshow" class="carousel slide" data-interval="5000" data-ride="carousel">
  <ol class="carousel-indicators">
  </ol>
  <div class="carousel-inner">
    {% assign image-filter = 'banners/' | append: page.layout %}
    {% assign images = site.static_files | where_exp:"item", "item.path contains image-filter" %}
    {% for image in images %}
      {% assign image-id = image.path | remove: "/banners/" | remove: page.layout | remove: "/BANNER-" | remove: ".jpg" %}

      {% if page.layout == "made" %}
        {% for post in site.collection_made %}
          {% assign post-id = post.path | remove: "_collection_made/" | remove: ".md" %}
          {% if image-id == post-id %}
            {% assign image-post-url = post.url %}
            {% assign image-post-title = post.title %}
          {% else %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if page.layout == "events" %}
        {% for post in site.collection_events %}
          {% assign post-id = post.path | remove: "_collection_events/" | remove: ".md" %}
          {% if image-id == post-id %}
            {% assign image-post-url = post.url %}
            {% assign image-post-title = post.title %}
          {% else %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="item {% if forloop.first %}active{% endif %}">
        <a href="{{ image-post-url }}" title="{{ image-post-title }}">
        <div class="image image{{ forloop.index }}">
        </div>
        <style>
            .image{{ forloop.index }}{
              background: url({{ image.path }}) top center no-repeat;
            }
        </style>
        </a>
      </div>
    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myslideshow" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myslideshow" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
