<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-push-5 pielinea">
            <span class="FabLabLogo" title="Fab Lab Limerick"></span>
        </div>
        <div class="col-md-5 col-md-pull-2 pielinea">
            <p class="text-left hidden-sm hidden-xs"><a href="{{ site.data.blurbs.footer.external.map }}" class="nounderline"><small>{{ site.data.blurbs.footer.address.long }}</small></a></p>
            <p class="text-center visible-sm visible-xs"><a ref="{{ site.data.blurbs.footer.external.map }}" class="nounderline"><small>{{ site.data.blurbs.footer.address.sort }}</small></a></p>
        </div>
        <div class="col-md-5 pielinea">
             <p class="text-right hidden-sm hidden-xs"><a class="social-link nounderline email" href="emailto:{{ site.data.blurbs.footer.external.email }}"><small>{{ site.data.blurbs.footer.external.email }}</small></a><a class="social-link nounderline" href="{{ site.data.blurbs.footer.external.facebook }}"><small>Facebook</small></a><a class="social-link nounderline" href="{{ site.data.blurbs.footer.external.twitter }}"><small>@fablablimerick</small></a></p>
             <p class="text-center visible-sm visible-xs"><a class="social-link nounderline email" href="emailto:{{ site.data.blurbs.footer.external.email }}"><small>{{ site.data.blurbs.footer.external.email }}</small></a>|<a class="social-link nounderline" href="{{ site.data.blurbs.footer.external.facebook }}"><small>Facebook</small></a>|<a class="social-link nounderline" href="{{ site.external.twitter }}"><small>@fablablimerick</small></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 pielinea">
            <!--
            <p class="text-center credits"><span class="hidden-xs"><small>Fab Lab Limerick is a project by the <a class="gray" href="http://saul.ie">School of Architecture</a>, <a class=" gray" href="http://ul.ie">University Of Limerick</a></small></span><span class="visible-xs"><small>Fab Lab Limerick by the <a class="gray" href="http://saul.ie">School of Architecture</a><br><a class="gray" href="http://ul.ie">University Of Limerick</a></small></span></p>
            -->
            <p class="text-center credits"><span class="hidden-xs"><small>{{ site.data.blurbs.footer.timetable.long_1 }} <span class="hidden-lg"></br></span>{{ site.data.blurbs.footer.timetable.long_2 }}</small></span><span class="visible-xs"><small>{{ site.data.blurbs.footer.timetable.sort }}</small></span></p>
        </div>
    </div>
    <div class="row logos">
      {% for item in site.data.blurbs.footer.logos %}
        <div class="col-sm-4">
            <a class="gray" href="{{ item.url }}"><small id="{{ item.id }}" class="logo"></small></a>
        </div>
      {% endfor %}
    </div>
     <div class="row">
        <div class="col-sm-12">
            <p class="text-center creditsdesign"><small>{{ site.data.blurbs.footer.credits }}</small></p>
        </div>
    </div>
</div>
