@mixin embed-font($font-name, $font-filepath-and-name, $font-weight, $font-sytle){
  @font-face {
    font-family: $font-name;
    src: url("../fonts/"+$font-filepath-and-name+".eot"); /* IE9 Compat Modes */
    src: url("../fonts/"+$font-filepath-and-name+".eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
         url("../fonts/"+$font-filepath-and-name+".woff") format('woff'), /* Modern Browsers */
         url("../fonts/"+$font-filepath-and-name+".ttf")  format('truetype'), /* Safari, Android, iOS */
         url("../fonts/"+$font-filepath-and-name+".svg#svgFontName") format('svg'); /* Legacy iOS */
    }
}
@include embed-font('fablab_100', 'fablab100-extralight-webfont', 100, 'normal');
@include embed-font('fablab_300', 'fablab300-light-webfont', 300, 'normal');
@include embed-font('fablab_500', 'fablab500-normal-webfont', 500, 'normal');
@include embed-font('fablab_stencil', 'fablabstencil-stencil-webfont', 500, 'normal');
@include embed-font('Glyphicons Halflings', 'glyphicons-halflings-regular', 100, 'normal');
