<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include socialmeta-page.html %}
    {% stylesheet normalize-css %}
    {% stylesheet fablabtheme %}
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="header">
        {% include header.html %}
    </header>
    <section class="header-hero">
      <section id="headerslideshow">
          {% include carousel-collections.html %}
      </section>
        <div class="header-hero-title">
            <div class="container">
                <div class="header-hero-container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <hgroup class="text-center">
                                <h1>Made</h1>
                                <h2 class="subheader"><span class="hidden-xs">We Are Exploring The Potential Of Digital Fabrication in Architecture And Design</span><span class="visible-xs">Exploring The Potential <br>of Digital Fabrication</span></h2>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center imagecredits clearfix">
                                <span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="research">
        <div class="container">
            <div class="section-list">
                <div class="row">
                    {% for made in site.collection_made limit:20 %}
                    {% if forloop.last %}
                    {% assign hiddensmall = "hidden-sm hidden-xs" %}
                    {% endif %}
                    <article class="col-md-4 col-xs-12 col-sm-6 research {{hiddensmall}}">
                        <a href="{{ made.url }}">
                            <div class="gradient">
                                <div class="caption">
                                    <h3>{{made.title}}</h3>
                                    <h4>{{made.description}}</h4>
                                </div>
                            </div>
                            <div class="marco" style="background-image: url(/collection_made/{{ made.path | remove: "_collection_made/" | remove: ".md" | append: ".jpg" }})" >
                            </div>
                        </a>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe">
        {% include _subscribe.html %}
    </section>
    <section class="footer">
        {% include footer.html %}
    </section>
    {% include scripts-home.html %}
    {% include googleanalytics.html %}
  </body>
</html>
