<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include socialmeta-page.html %}
    {% stylesheet normalize-css %}
    {% stylesheet fablabtheme %}
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="header">
        {% include header.html %}
    </header>
    <section class="header-hero">
      <section id="headerslideshow">
      </section>
        <div class="header-hero-title">
            <div class="container">
                <div class="header-hero-container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <hgroup class="text-center">
                                <h1>Space</h1>
                                <h2 class="subheader"><span class="hidden-xs">Who We Are And How You <br>Can Use The Fab Lab</span><span class="visible-xs">How You Can Use<br>the Fab Lab</span></h2>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center imagecredits clearfix">
                                <span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="body-who">
        <div class="container">
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                        <hgroup class="text-center">
                            <h1>Who</h1>
                            <h2 class="subheader"><span class="hidden-xs">Where Are A group Of Staff, Students and <br> graduates from The School Of Architecture at UL</span><span class="visible-xs">Where are The School <br>of Architecture at UL</span></h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <div class="section-description">
                <div class="row">
                    <div class="col-md-6" lang="en">
                        <p>Fab Lab Limerick started in 2012 when we began to build our own 3D printers, CNC Routers and laser cutters as part of the elective programme at the School of Architecture, University of Limerick.</p>
                    </div>
                    <div class="col-md-6" lang="en">
                        <p>We are a community of people passionate about digital fabrication technologies and their potential in creative projects. You are welcome to join us!</p>
                    </div>
                </div>
            </div>
            <div class="section-list">
                <div class="row list-header">
                    <div class="col-md-12">
                        <hr class="none">
                        <h3 class="text-center">The Team</h3>
                        <hr class="bottom">
                    </div>
                </div>
                <div class="row list-body">
                    {% for member in site.collection_team %}
                    {% if member.current %}
                    <div class="col-md-2 col-sm-3 col-xs-6 list-member">
                        <div class="imagenmarco">
                            <div class="imagen" style="background-image: url(/collection_team/{{ member.path | remove: "_collection_team/" | remove: ".md" | append: ".jpg" }}); background-color: #d7d7d7"></div>
                        </div>
                        <hgroup class="text-center membertext">
                            <h4>{{ member.title }}</h4>
                            <h5>{{ member.position }}</h5>
                        </hgroup>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12">
                  <p><strong>Former Fab Lab Limerick collaborators:</strong>
                    {% assign members = '' %}
                    {% for member in site.collection_team %}
                      {% if member.current != true %}
                      {% assign members = members | append: member.title | append: ', ' %}
                      {% endif %}
                    {% endfor %}
                    {% assign members = members |  append: '---' %}
                    <span>
                      {{ members |  replace: ', ---','.' }}
                    </span>
                    {% comment %}
                    After creating a string with all the members separated by comma, the string '---' is
                    appended in order to replace it afterwards by '.'. This way the last comma is eliminated.
                    {% endcomment %}
                  </p>
                  </div>
                </div>
                <br/>
            </div>
            <div class="section-link">
                <div class="row">
                    <div class="col-md-12 text-center" style = "text-transform: lowercase;">
                        <hr class="top" >
                        <!--<a class="text-center disabled">More soon!</a><br>-->
                        <!-- added-by-ger -->
                        <span style="color:red; text-transform: uppercase">NEW: </span><span style = "text-transform: capitalize;">If</span> you would like to become a Volunteer yourself, <a href="/assets/VolunteerDoc.pdf" download style = "text-transform: lowercase;">please check out this document.</a>
                        <p><span style = "text-transform: capitalize;">and</span> send your request by email to <a href="mailto:fablab@saul.ie">fablab@saul.ie</a>.</p>
                        <hr class="none">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        {% include footer.html %}
    </section>
    {% include scripts-home.html %}
    {% include googleanalytics.html %}
  </body>
</html>
